.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  padding: 0;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2vw;

    user-select: none;

    h1 {
      font-size: 3rem;
      font-weight: 400;
      // text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.1);
    }

    img {
      width: 2.5vw;
      height: 2.5vw;

      @media screen and (orientation: portrait) {
        display: none;
      }
    }
  }
}
