.add-button {
    border: 2px solid #292625;
    width: 6vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: .7vh;
    border-radius: 4px;
    cursor: pointer;
    font-size: 3rem;
    box-sizing: border-box;
}