@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Source+Serif+Pro:wght@300;400;600&display=swap');

body {
  margin: 0;
  width: 75vw;
  margin: 0 auto;
  background: #F5F8FC;

  * {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
  }
  
  h1 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
  }
}

.scale-on-hover {
  transition: all 0.4s ease-in-out;
}

.scale-on-hover:hover {
  transform: scale(1.2);
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2.7s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
