.travel-page-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10vh;

  span {
    font-weight: 300;
    font-size: 1.2rem;
    margin-right: .5vw;
    
    @media screen and (orientation: portrait) {
      margin-right: 1vw;

    }
  }
}
